div
{
    border-width: 2px;
    border-style: solid;
    border-color: silver;
    background-size: 20px;
    margin-right: 75pc;
}
tion
{
    color: blue;

}
.Login:focus
{
    color: blue;
  background-color: chartreuse;
}
a:active
{

    color: chartreuse;
}